#
# /etc/systemd/system/catalog-redirects.service
#
[Unit]
Description = CatalogRedirects
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/catalog-redirects/catalog-redirects.pid
User = www-data
Group = www-data
WorkingDirectory = /opt/local/catalog-redirects
ExecStartPre = /bin/mkdir /run/catalog-redirects
ExecStartPre = /bin/chown -R www-data:www-data /run/catalog-redirects
Environment="PATH=/opt/local/catalog-redirects/venv/bin"
ExecStart = /opt/local/catalog-redirects/venv/bin/gunicorn -b 127.0.0.1:5001 wsgi:app --pid /run/catalog-redirects/catalog-redirects.pid --error-logfile /opt/local/catalog-redirects/log/gunicorn.log
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/catalog-redirects
PrivateTmp = true

[Install]
WantedBy = multi-user.target
